@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: Lato, serif;
    font-weight: 700;
    color: #1f47d7;
    background-color: #f9f8f8;
    line-height: 1.5;
    background-color: antiquewhite;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1920px;
    padding: 100px 20px;
    margin: 0 auto;
}


/* ========= */
.page {}

.page__container {}

.page__body {
    margin: 0px 150px;
}

.page__title:not(:last-child) {
    margin-bottom: 20px;
}

.page__title {
    position: relative;
    color: #00030e;
}

.title {
    font-size: 30px;
    font-weight: 900;
}

.page__nav {}



.page__list>li {
    position: relative;
    padding: 10px 0px 10px 0px;

}

.page__list>li:not(:last-child) {
    margin-bottom: 20px;
}

.page__title::after,
.page__list>li::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cecfd6;
}

.list {}

.list__row {
    display: flex;
    justify-content: space-between;
}

.list__link {}

.list__icon {}

/* ======   image    ====== */

.img {
    margin: 0px auto;
    max-width: 0px;
    max-height: 0px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s linear 0s;
}

.img--forced {
    margin: 30px auto 30px;
    max-width: 300px;
    max-height: 300px;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transition: all 0.5s linear 0s;
}

.list__image img {
    max-width: 100%;
}



/* ======   cross    ====== */
.list__cross {
    /* display: block; */
    position: relative;
    width: 25px;
    height: 25px;
    visibility: hidden;
    transform: translate(0px, 10px);
    pointer-events: none;
    opacity: 0;
    transition: transform 0.5s linear 0s;
    z-index: 4;
}


.list__icon::before,
.list__icon::after {
    position: absolute;
    content: '';
    right: 2px;
    top: 5px;
    height: 2px;
    width: 10px;
    background-color: rgb(191, 55, 55);
    transition: all 0.5s ease 0s;
}

.list__icon::after {
    transform: rotate(90deg);
}


@media (min-width:1024px) {
    .page__list:hover {
        color: #00030e;
        cursor: pointer;
    }

    .page__nav:hover .list__cross {
        transform: translate(0px, 0px);
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    .page__nav:hover .list__cross>.icon--list--forced::before {
        transition: all 0.5s ease 0s;
        transform: rotate(45deg);
    }

    .page__nav:hover .list__cross>.icon--list--forced::after {
        transition: all 0.5s ease 0s;
        transform: rotate(-45deg);
    }

    li:hover .list__icon::before {
        transition: all 0.5s ease 0s;
        transform: rotate(45deg);
    }

    li:hover .list__icon::after {
        transition: all 0.5s ease 0s;
        transform: rotate(-45deg);
    }

    li:hover .img {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        margin: 30px auto 30px;
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width:320px) and (min-width:1022px) {}